*{
    margin: 0;
    font-family: 'Figtree', sans-serif;
}
body{
    background-color: hsl(47, 88%, 63%);
}
.contenedor{
    display: grid;
    place-content: center;
    margin-top: 150px;
}
.card{
    width: 350px;
    height: 600px;
    background-color: white;
    border-radius: 1rem;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.img{
    width: 350px;
    border-radius: 1rem;
    background-color: transparent;
}
.attribution{
    display: flex;
    flex-direction: column;
}
.learn{
    background-color:  hsl(47, 88%, 63%);
    text-align: center;
    width: 100px;
    padding: 4px;
    border-radius: 0.5rem;
    margin-top: 10px;
    font-weight: bold;
}
.text-1{
    padding: 18px 0;
}
.title{
    font-weight: bold;
    margin-bottom: 18px;
    font-size: 24px;
}
.text-2{
    font-weight: 300;
    color: hsl(0, 0%, 50%);
}
.user{
    display: flex;
    align-items: center;
    padding: 24px 0;
}
.profile{
    width: 30px;
    border-radius:50%;
}
.text-3{
    padding: 8px;
}
.text-4{
    margin-bottom: 8px;
}
.link{
    text-decoration: none;
    color: hsl(47, 76%, 38%);
}
.link:hover {
    color: rgb(108, 144, 211);
    text-decoration: underline;
}
@media (max-width: 600px) {
   .card{
    width: 90%;
    margin: 50px auto;
   }
}